@import url('https://fonts.googleapis.com/css?family=Montserrat');

body {
    background-color: #e4f4f7;
}

.main-container {
    display: block;
    margin: 20vh auto 0 auto;
    min-width: 300px;
    width: 40%;
}

.main-message {
    display: block;
    font-family: 'Montserrat', sans-serif;
    color: #0e303e;
    font-weight: 700;
    font-size: 30px;
    text-align: center;
    margin: 50px auto 0 auto;
    min-width: 300px;
    width: 30%;
}

.main-copyright {
    display: block;
    font-family: 'Montserrat', sans-serif;
    font-weight: 700;
    text-align: center;
    margin: 100px auto 0 auto;
    min-width: 300px;
    width: 30%;
    color: #0e303e;
}

.fill-cyan-light {
    fill : #cceff5;
    stroke: #e4f4f7;
    stroke-width: .6;
    animation: rotationY 3s ease;
    transition: .5s;
}

.fill-cyan-dark {
    fill : #32c1d9;
    stroke: #e4f4f7;
    stroke-width: .6;
    animation: rotationX 3s ease;
    transition: .5s;
}

.fill-cyan {
    fill : #65d1e2;
    stroke: #e4f4f7;
    stroke-width: .6;
    transition: .5s;
}
.fill-cyan-dark:hover{
    fill : #7a32d9;
}

.fill-cyan-light:hover{
    fill : #f5cccc;

}
.fill-cyan:hover{
    fill: #65e293;
    transform: scale(1.05);
}


#c-1{
    transform-origin: 25.5% 12.5%;
    animation-delay: 0s;
}

#d-1{
    transform-origin: 25.5% 50%;
    animation-delay: .2s;
}
#f-1{
    transform-origin: 25.5% 50%;
    animation: rotationXY 3s ease;
    animation-delay: .3s;
}
#c-2{
    transform-origin: 25.5% 50%;
    animation-delay: .3s;
}
#f-4{
    transform-origin: 25.5% 50%;
    animation: rotationXmY 3s ease;
    animation-delay: .8s;
}
#d-2{
    transform-origin: 25.5% 50%;
    animation-delay: 1s;
}
#c-5{
    transform-origin: 25.5% 87.5%;
    animation-delay: 1.2s;
}
#c-6{
    transform-origin: 74.5% 87.5%;
    animation-delay: 1.3s;
}
#d-3{
    transform-origin: 74.5% 50%;
    animation-delay: 1.3s;
}
#c-3{
    transform-origin: 74.5% 50%;
    animation-delay: 1.8s;
}
#c-4{
    transform-origin: 74.5% 50%;
    animation-delay: 1.8s;
}
#f-2{
    transform-origin: 74.5% 50%;
    animation: rotationXY 3s ease;
    animation-delay: 2s;
}
#f-3{
    transform-origin: 74.5% 50%;
    animation: rotationXmY 3s ease;
    animation-delay: 2s;
}


@keyframes rotationX {
    to{
        transform: rotateX(180deg);
    }
}

@keyframes rotationY {
    to{
        transform: rotateY(180deg);
    }

}



@keyframes rotationXY {
    to{
        transform:  rotate3d(1,1,0,180deg);
    }
}

@keyframes rotationXmY {
    to{
        transform:  rotate3d(1,-1,0,180deg);
    }
}
