@import url("https://fonts.googleapis.com/css?family=Montserrat|Cardo|Lobster");
body {
  margin: 0;
  background-color: #252525; }

header {
  background-color: #f0f0f0;
  position: fixed;
  top: 0;
  z-index: 999;
  width: 100%;
  border-bottom: 2px solid gainsboro; }
  header nav ul {
    list-style: none;
    text-align: center;
    float: center;
    margin: 0;
    padding: 0; }
    header nav ul li {
      display: inline-block;
      margin-left: 0.4rem;
      margin-right: 0.4rem; }
      header nav ul li a {
        display: block;
        color: #252525;
        padding: 0.4rem;
        font-size: 1.5rem;
        font-family: Montserrat; }
        @media (max-width: 900px) {
          header nav ul li a {
            font-size: 1.2rem; } }
        @media (max-width: 300px) {
          header nav ul li a {
            font-size: 1rem; } }
        header nav ul li a:hover {
          color: #737373; }

.scroll {
  text-decoration: none; }

article {
  margin-left: auto;
  margin-right: auto;
  width: 90%;
  overflow: hidden; }

section {
  height: 100vh; }

.crop {
  position: relative;
  border-radius: 50%;
  max-width: 14rem;
  max-height: 14rem;
  display: inline-block;
  vertical-align: top;
  line-height: 0;
  border-width: 0.2rem;
  border-color: rgba(255, 255, 255, 0);
  border-style: solid;
  overflow: hidden;
  transition: 0.5s; }
  .crop img {
    max-width: 100%;
    height: auto;
    border-radius: 50%;
    transition: 0.5s; }
    @media (min-width: 900px) {
      .crop img {
        max-height: 14rem; } }
    @media (max-width: 900px) {
      .crop img {
        max-height: 12rem; } }
  .crop:hover {
    border-color: #fff; }
    .crop:hover .name {
      visibility: visible;
      opacity: 1; }
    .crop:hover img {
      transform: scale(1.1); }
  .crop .name {
    position: absolute;
    top: 0;
    left: 0;
    padding-top: 70%;
    padding-bottom: 30%;
    text-align: center;
    width: 100%;
    background: rgba(255, 255, 255, 0.3);
    color: #fff;
    visibility: hidden;
    opacity: 0;
    font-family: Lobster;
    font-size: 1.7rem;
    transition: opacity 0.5s, visibility 0.5s; }

.container-1 {
  margin-right: auto;
  margin-left: auto;
  height: 100vh; }
  .container-1::after {
    content: "";
    display: block;
    clear: both; }

.container {
  float: left;
  min-height: 100vh;
  min-width: 100%;
  overflow: auto;
  text-align: center; }
  .container::after {
    content: "";
    display: block;
    clear: both; }

@keyframes tran {
  to {
    transform: translateX(0%) translateY(0%);
    opacity: 1; } }
@keyframes appear-1 {
  to {
    height: 100%;
    top: 0; } }
@keyframes appear-2 {
  to {
    width: 90%;
    left: 5%; } }
@keyframes opa {
  to {
    opacity: 1; } }
@media (min-width: 900px) {
  .container-1 {
    padding-top: 20vh; }

  .container {
    padding-top: 5vh; }

  .crop {
    opacity: 0;
    transform: translateX(-20%);
    animation: opa 1s forwards; }

  .block-3 {
    width: 30% !important;
    vertical-align: middle; }

  .card:hover {
    transform: translateY(-5%); }

  .block-photo {
    float: left;
    width: 48.4% !important; }

  .block {
    float: left;
    width: 51.6% !important;
    text-align: right !important;
    height: 14.4rem !important; }

  .block-logo-1, .block-logo-2 {
    display: inline-block !important;
    padding-top: 1rem;
    min-height: 17rem;
    vertical-align: top; }

  .separator {
    display: block;
    position: absolute;
    height: 0%;
    top: 50%;
    width: 8px;
    left: 50%;
    background-color: white;
    animation: appear-1 0.5s forwards, rot 0.5s forwards 0.5s, rot 0.5s reverse forwards 2s; }

  .block-logo-sep {
    display: inline-block !important;
    width: 10% !important;
    min-height: 18rem;
    vertical-align: top; }

  .text-padding {
    top: 50%;
    transform: translateY(-50%);
    padding: 0 30px 0 10px;
    font-size: 2rem;
    line-height: 2.1rem;
    opacity: 0;
    animation: opa 1s forwards; }
    .text-padding::after {
      content: "";
      display: block;
      position: absolute;
      right: 0;
      top: 50%;
      height: 0%;
      width: 10px;
      background-color: white;
      animation: appear-1 1s forwards 0.25s; }

  .card-title {
    font-size: 1rem; } }
@media (max-width: 900px) {
  .container-1 {
    padding-top: 15vh; }

  .container {
    padding-top: 10vh; }

  .crop {
    opacity: 0;
    transform: translateY(10%);
    animation: tran 1s forwards; }

  .name {
    font-size: 1.3rem; }

  .text-padding {
    display: inline-block;
    margin: auto;
    margin-bottom: 5px;
    padding-bottom: 5px;
    font-size: 1.5rem;
    opacity: 0;
    animation: opa 1s forwards; }
    .text-padding::after {
      content: "";
      display: block;
      position: relative;
      top: 5px;
      left: 50%;
      width: 0%;
      height: 8px;
      background-color: white;
      animation: appear-2 1s forwards 0.25s; }

  .separator {
    display: block;
    position: relative;
    height: 10px;
    left: 50%;
    width: 0%;
    top: 5px;
    background-color: white;
    animation: appear-2 0.5s forwards; }

  .block-logo-sep {
    padding: 20px 10px; }

  .card-title {
    font-size: 0.8rem; } }
@media (max-width: 370px) {
  .name {
    font-size: 0.5rem; }

  .text-padding {
    font-size: 1rem; }

  .card-title {
    font-size: 0.5rem; } }
.block, .block-photo, .block-logo-sep, .block-logo-1, .block-logo-2 {
  display: block;
  position: relative;
  background: #252525;
  width: 80%;
  margin-right: auto;
  margin-left: auto;
  color: #f4f4f4;
  font-family: Montserrat;
  text-align: center; }

.block-3 {
  display: inline-block;
  max-width: 70%;
  position: relative;
  background: #252525;
  margin-right: auto;
  margin-left: auto;
  color: #f4f4f4;
  font-family: Montserrat;
  text-align: center;
  margin: 1%; }

.card {
  position: relative;
  border: 5px solid #f4f4f4;
  transition: transform 0.5s;
  overflow: hidden;
  display: block; }
  .card img {
    max-width: 100%;
    max-height: 20rem;
    height: auto;
    transition: 0.8s;
    vertical-align: top; }
  .card:hover img {
    transform: scale(1.3) translateX(-10%); }
  .card:hover .card-title {
    visibility: visible;
    opacity: 1; }

.card-title {
  position: absolute;
  top: 50%;
  left: 0;
  text-align: center;
  width: 100%;
  line-height: 200%;
  background: rgba(255, 255, 255, 0.8);
  color: #252525;
  visibility: hidden;
  opacity: 0;
  font-family: Montserrat;
  font-weight: bold;
  transition: opacity 0.5s, visibility 0.5s; }

.text-padding {
  position: relative; }

h1 {
  font-family: Montserrat;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
  font-size: 2rem;
  color: #f4f4f4;
  line-height: 3rem; }
  h1::after {
    content: "";
    display: block;
    position: relative;
    top: 5px;
    left: 50%;
    width: 0%;
    height: 8px;
    background-color: white;
    animation: appear-2 1s forwards 0.25s; }

@keyframes rot {
  to {
    transform: rotate(10deg); } }
.block-logo-1, .block-logo-2 {
  max-width: 20rem; }

.block-morocco {
  text-align: center;
  margin-left: auto;
  margin-right: auto; }
  @media (min-width: 900px) {
    .block-morocco {
      max-width: 15rem; } }
  @media (max-width: 900px) {
    .block-morocco {
      max-width: 12rem; } }

.morocco-1, .morocco-2, .morocco-3 {
  fill: none;
  stroke: #f4f4f4;
  stroke-width: 14.17339039;
  stroke-linecap: butt;
  stroke-linejoin: miter;
  stroke-miterlimit: 10; }

.morocco-1 {
  animation: animeline 5s ease-out forwards; }

.morocco-2 {
  animation: animeline 5s ease-out forwards; }

.morocco-3 {
  animation: animeline 5s ease-out forwards; }

.morocco {
  fill: none;
  stroke: #f4f4f4;
  stroke-width: 14.17339039;
  stroke-linecap: butt;
  stroke-linejoin: miter;
  stroke-miterlimit: 10;
  opacity: 0;
  animation: opa 1s ease-out forwards 4.5s; }

.line-1, .line-2, .line-3 {
  fill: none;
  stroke: #f4f4f4;
  stroke-linecap: butt;
  stroke-miterlimit: 4; }

.line-1 {
  stroke-width: 6.61458397;
  stroke-linejoin: miter;
  animation: animeline 0.7s ease-out forwards 0.5s; }

.line-2 {
  stroke-width: 6.62115717;
  stroke-linejoin: bevel;
  animation: animeline 0.7s ease-out 1.2s forwards; }

.line-3 {
  stroke-width: 3.97421765;
  stroke-linejoin: bevel;
  animation: animeline 0.6s ease-out 1.9s forwards; }

@keyframes animeline {
  to {
    stroke-dashoffset: 0; } }
#footer {
  float: left;
  width: 100%;
  text-align: center;
  background-color: #f4f4f4;
  font-family: Montserrat;
  font-size: 1rem;
  margin-left: auto;
  margin-right: auto;
  z-index: 999; }

/* logo EMI */
@keyframes appear {
  to {
    opacity: 1; } }
@keyframes move {
  0% {
    transform: translate(-0.5rem, -0.5rem); }
  50% {
    transform: translate(0.25rem, 0.25rem); }
  100% {
    transform: translate(0rem, 0rem); } }
.mo {
  stroke-width: 0.3985;
  stroke-linecap: butt;
  stroke-linejoin: miter;
  stroke-miterlimit: 10;
  opacity: 0;
  animation-delay: 1s; }

.noir {
  fill: #f4f4f4;
  stroke: #f4f4f4; }

.bleu {
  fill: #0000ff;
  stroke: #0000ff; }

.blanc {
  fill: #252525;
  fill-opacity: 1;
  fill-rule: nonzero;
  stroke: none;
  opacity: 0; }

#monb {
  animation: appear 0.3s forwards 0.5s, move 1s forwards 0.5s; }

#mob {
  animation: appear 0.3s forwards 0.83s, move 1s forwards 0.83s; }

#mona {
  animation: appear 0.3s forwards 1.16s, move 1s forwards 1.16s; }

#white1 {
  animation: appear 0.5s forwards 2.5s; }

#white2 {
  animation: appear 0.5s forwards 2.5s; }

.appear {
  opacity: 0;
  text-align: center;
  animation: opa 1s forwards 2s; }

form {
  text-align: center;
  width: 80%;
  margin-left: auto;
  margin-right: auto; }

input, textarea {
  display: block;
  margin-right: auto;
  margin-top: 2rem;
  margin-left: auto;
  font-size: 1rem;
  height: 1.5rem;
  font-family: Montserrat;
  max-width: 30rem;
  width: 100%; }

.button {
  background-color: #f4f4f4;
  color: #252525;
  font-weight: bold;
  border-radius: 5px;
  border: none;
  height: 3rem;
  max-width: 40%;
  width: 10rem;
  transition: 0.5s; }
  .button:hover {
    transform: scale(1.1); }

a.button {
  display: block;
  margin-right: auto;
  margin-top: 2rem;
  margin-left: auto;
  font-size: 1rem;
  line-height: 3rem;
  text-decoration: none;
  font-family: Montserrat;
  opacity: 0;
  animation: opa 1s forwards 2s; }

#message {
  height: 20vh; }

#contact {
  height: 80vh; }

/*# sourceMappingURL=styles.css.map */
